/* 변수설정 */
.n-icon{
    --icon-type: "";
    --icon-color:var(--color-base-9);
    --icon-size:var(--icon-size-2);
    --icon-weight: 400;
    --icon-fill: 0;
}
/* 밝은 or 다크모드에서 잘 보이게 배경설정  */
@media (prefers-color-scheme: dark) {
    .n-icon{
        --icon-color: var(--color-base-1);        
    }
}

/* 개별 옵션 변수 설정 */
.n-icon::before{
    /* boxing */
    /* width: 24px;
    height: 24px; */

    /* layout */
    display: inline-flex;
    justify-content: center;
    align-items: center;

    /* content */
    font-family: "Material Symbols Outlined";
    font-weight: var(--icon-weight);
    font-size: var(--icon-size);
    color: var(--icon-color);
    content: var(--icon-type);
    font-variation-settings: 'FILL' var(--icon-fill);
    /* content: "\e87d";  */
    
}
.icon\:favorite::before{
    content: "\e87d"; 
}
.icon\:settings::before{
    content: "\e8b8"; 
}
.icon-color\:main-1::before{
    --icon-color: var(--color-main-1);
}

.icon-color\:main-2::before{
    --icon-color: var(--color-main-2);
}

.icon-color\:main-3::before{
    --icon-color: var(--color-main-3);
}

.icon-size\:1::before{
    --icon-size: var(--icon-size-1);
}

.icon-size\:2::before{
    --icon-size: var(--icon-size-2);
}

.icon-size\:3::before{
    --icon-size: var(--icon-size-3);
}

.icon-weight\:1::before{
    --icon-weight: 100;
}

.icon-weight\:2::before,
.icon-weight\:light::before{
    --icon-weight: 200;
}

.icon-weight\:3::before{
    --icon-weight: 300;
}

.icon-weight\:4::before,
.icon-weight\:normal::before{
    --icon-weight: 400;
}

.icon-weight\:5::before{
    --icon-weight: 500;
}

.icon-weight\:6::before{
    --icon-weight: 600;
}

.icon-weight\:7::before,
.icon-weight\:bold::before{
    --icon-weight: 700;
} 
.icon-fill\:0::before{
    --icon-fill: 0;
}  
.icon-fill\:1::before{
    --icon-fill: 1;
}